tools/gimple/build/test.pdb
tools/gimple/build/test.ilk
tools/gimple/build/.vs/slnx.sqlite
tools/gimple/build/.vs/build/v15/.suo
tools/gimple/build/.vs/VSWorkspaceState.json
tools/gimple/build/.vs/ProjectSettings.json
tests/xcf/build/xcf.sln
tests/xcf/build/xcf.pdb
tests/xcf/build/xcf.obj
tests/xcf/build/xcf.ilk
tests/xcf/build/xcf.exe
tests/xcf/build/.vs/xcf/v15/ipch/AutoPCH/bdb45f140dcb1ca1/MAIN.ipch
tests/xcf/build/.vs/xcf/v15/ipch/AutoPCH/7fc58486ab302be0/MAIN.ipch
tests/xcf/build/.vs/xcf/v15/ipch/AutoPCH/430834823f209e7/MAIN.ipch
tests/xcf/build/.vs/xcf/v15/Browse.VC.db
tests/xcf/build/.vs/xcf/v15/.suo
tests/test/build/test.pdb
tests/test/build/test.obj
tests/test/build/test.ilk
tests/test/build/test.exe
tests/test/build/.vs/slnx.sqlite
tests/test/build/.vs/build/v15/.suo
tests/test/build/.vs/VSWorkspaceState.json
tests/test/build/.vs/ProjectSettings.json
tests/svg/build/svg_parser.pdb
tests/svg/build/svg_parser.ilk
tests/svg/build/svg.sln
tests/svg/build/svg.pdb
tests/svg/build/svg.obj
tests/svg/build/svg.ilk
tests/svg/build/svg.exe
tests/svg/build/.vs/svg_parser/v15/ipch/AutoPCH/edd982d21e832c7e/MAIN.ipch
tests/svg/build/.vs/svg_parser/v15/ipch/AutoPCH/e566b176abf4cfe0/MAIN.ipch
tests/svg/build/.vs/svg_parser/v15/ipch/AutoPCH/de1a27ef5ce5dfa/MAIN.ipch
tests/svg/build/.vs/svg_parser/v15/ipch/AutoPCH/bcca654a05ea8c32/MAIN.ipch
tests/svg/build/.vs/svg_parser/v15/ipch/AutoPCH/5985c5cf6a9ffb4e/EXE_COMMON.ipch
tests/svg/build/.vs/svg_parser/v15/ipch/AutoPCH/56fa4c252cb47159/MAIN.ipch
tests/svg/build/.vs/svg_parser/v15/ipch/AutoPCH/456270465ebf2e9/MAIN.ipch
tests/svg/build/.vs/svg_parser/v15/ipch/AutoPCH/37348fb9c8c2177b/MAIN.ipch
tests/svg/build/.vs/svg_parser/v15/ipch/AutoPCH/2d8cc59bbf50d9a0/MAIN.ipch
tests/svg/build/.vs/svg_parser/v15/Browse.VC.db
tests/svg/build/.vs/svg_parser/v15/.suo
tests/svg/build/.vs/svg/v15/ipch/AutoPCH/af301e3a64cccb0d/MAIN.ipch
tests/svg/build/.vs/svg/v15/Browse.VC.db
tests/svg/build/.vs/svg/v15/.suo
tests/fonts/build/fonts.pdb
tests/fonts/build/fonts.obj
tests/fonts/build/fonts.ilk
tests/fonts/build/fonts.exe
_old/bags.sublime-workspace
_old/bags.sublime-project
